**/bin
**/obj
/db
.fake
.ionide
*.nettrace
*.speedscope.json
.netcoredbg_hist

/georeport/thirdparty
/rtview/wwwroot/chart.umd.js
/rtview/wwwroot/rtview.css
/scripts/*/
/scripts/*
!/scripts/find_jdf_with_mhd_naming.fsx
!/scripts/czptt_agency_map.fsx
